<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Take a picture</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Take a picture</h3>

  <button ion-button (click)="takePicture()">Take a Picture</button>
  <button ion-button [(disabled)]="!srcImage" (click)="saving()">Save last Picture</button>
  <button ion-button (click)="takeVideo()">Take a Video</button>
  <div>
    <ion-card *ngIf="srcImage">
      <img [src]="srcImage"/>
      <ion-fab right top>
        <button ion-fab (click)="closeCurrentImage()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-fab>
    </ion-card>
  </div>
  <div  *ngIf="srcVideo">
    <video controls height="100">
      <source src="{{srcVideo}}" type="video/mp4">
    </video>
    <button ion-fab (click)="closeCurrentVideo()">
      <ion-icon name="close"></ion-icon>
    </button>
  </div>

</ion-content>
